body {
    font-family: sans-serif;
    color: aliceblue;
    background-color: #343434;
    padding-bottom: 20px;
}

img {
    width: 20vw;
    height: 20vw;
    object-fit: contain;
}


.navilink {
    font-size: 4vh;
    padding: 10px;
}

.links {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    font-size: 2.8vh;
}

.header {
    overflow: hidden;
    background: #ff083e;
    color: white;
    padding: 15px 30px 15px 15px;
    font-size: 1.7vw;
}

.footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00F7C1;
    color: black;
    text-align: center;
    font-size: calc(1.1vh + 0.4vw);
}

.center {
    text-align: center;
    margin: auto;
    width: 98%;
    padding: 10px;
}

a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: deeppink;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
